/* @import url('./style/Navbar.css'); */

body{
    background-image: url(./img/fondoIMG.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.gridWorks{
    display: grid;
    grid-template-columns: 400px;
    justify-content: center;
    background-color: #ffffff5c;
}

@media only screen and (min-width: 840px)  {
    .gridWorks{
        grid-template-columns: 400px 400px;
        justify-content: center;
    }
}


@media only screen and (min-width: 1260px)  {
    .gridWorks{
        grid-template-columns: 400px 400px 400px;
        justify-content: center;
    }
}